*{
    color: #111827;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
body{
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #1D4ED8;
}
.admin{
    margin-top: 70px;
}
.admin h1,p{
    color: #FAF9F6;
}
.admin img{
    border-radius: 100%;
    width: 100px;
}

#login-container {
    background-color: #FAF9F6 ;
    width: 400px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 20px;
    color: black;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
#login-container h1{
    margin-bottom:0;
    text-align: center;
}
.u-line{
    margin-top: 3px;
    width: 180px;
    height: 4px;
    background-color: #1D4ED8;
    border: none;
    border-radius: 2px;
}
#login-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 4px 4px 6px rgba(0,0,0,0.4);
}
#email-container,#password-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#email-container label,#password-container label{
    font-size: 14px;
    font-weight: 700;
}
input{
    background-color: #FAF9F6;
    padding: 10px;
    font-size: 12px;
    box-shadow: inset 4px 4px 6px rgba(0,0,0,0.3);
    border: 1.5px solid #d1d5db;
    border-radius: 6px; 
}
.error{
    background-color: red;
    font-size: 12px;
    width: 300px;
    display: none;
    text-align: center;
    border-radius: 4px;
}
.forget{
    text-align: right; 
    color: #1D4ED8;  
    font-size: 13.5px;
}
.login-btn{
    padding: 10px 20px;
    background-color: #1D4ED8;
    color: #FAF9F6;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease;
}
.login-btn:hover{
    opacity: 0.8;
}
.login-btn:active{
    opacity: 0.6;
}
.OR{
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    align-items: center;
}
.OR span{
    text-align: center;
}
.login-google{
    display: flex;
    justify-content: center;
    vertical-align: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border-color: #1D4ED8;
    transition: backgroun-color 0.3s linear , opacity 0.25s;
}
.login-google img{
    width: 20px;
    padding-right: 5px;
}
.login-google:hover{
    background-color: #1D4ED8;
    cursor: pointer;
    color: #FAF9F6;
}
.login-google:active{
    opacity: 0.8;
}
.create-account{
    font-size: 14px;
    text-align: center;
    color: black;
    
}
.create-account a {
    color: #1D4ED8;
    text-decoration: none;
}
.footer{
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer p{
    color: #FAF9F6;
    font-size: 14px;
    font-weight:600;
}

.image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 200px;
}
.image img{
    width: 20px;
}
.login-with-google {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #204097;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    display: none;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.login-with-google h2{
    color: #FAF9F6;
    font-weight: 500;
    padding: 10px;
}
.google-accounts img{
    width: 34px;
    border-radius: 100%;
}
.google-accounts p , h3 , h4{
    color: #48494b;
}
.google-accounts{
    text-align: left;
    background-color: #FAF9F6;
    padding: 10px;
    border-radius: 12px;
}
.google-accounts div{
    display: grid;
    grid-template-columns: 60px 1fr;
    place-items: left;
    padding: 10px;
    align-items: center;
}
.google-accounts hr {
    border: none;
    border-top: 1.7px solid #204097;
    margin: 0;
}
#add-acc{
    width: 24px;
    border-bottom:  none;
}
#backToLogin{
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 6px;
    border: none;
    transition: opacity 0.15s linear;
}
#backToLogin:active{
    opacity: 0.6;
}


